# macOS
.DS_Store

# Dependencies
node_modules/

# Claude Code
**/.claude/settings.local.json

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!terraform/envs/*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
